# LaTeX build files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.minted

# macOS metadata
.DS_Store
chapters/.DS_Store

# Ignore common binary installers, but KEEP Perl installer
*.msi
!strawberry-perl-5.40.2.1-64bit.msi

# Ignore all Perl modules/scripts (optional)
# Uncomment this if you don’t want to commit .pl/.pm EXCEPT for specific ones
*.pl
*.pm

# Uncomment this if you want to always include certain Perl files
!script/my-perl-script.pl
